$turquoise: #26a69a;
$white: #ffffff;

body {
  display: flex;
  min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	background: $turquoise;
}

.progress-wrap {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 200px;
	position: fixed;
	background: $white;
}
