$red:        #E05B49;
$blue:       #546E7A;
$yellon:     #FEE50B;
$p_grey:     #9E9E9E;
$dark-blue:  #263238;
$light-grey: #EDEDED;

body {
  background-color: $light-grey;
}

hr {
  width: 40px;
  margin-bottom: 45px;
}

h1 {
  font-weight: bold;
  color: $light-grey;
}

h2 {
  width: 400px;
  color: $blue;
  padding: 10px;
  margin: 0 auto;
  font-size: 30px;
  background: $yellon;
}

h3 {
  color: $blue;
  margin-top: 50px;
}

h1,
h3 {
  text-transform: uppercase;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p{
  font-size: 20px;
  color:#9e9e9e;
}

.progress-wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 200px;
  position: fixed;
  background: $light-grey;
}

header {
  padding: 150px 0;
  background: $blue;
}

main {
  .portfolio {
    img {
      float: left;
      width: 33.33333%;
    }
  }

  .contact {
    .btn {
      width: 100%;
    }
  }
}

footer {
  margin: 0;
  padding: 40px;
  color: $light-grey;
  background: $dark-blue;

  .copyright {
    margin-top: 15px;
  }

  a {
    color: $blue;
    float: right;
    font-size: 30px;
    margin-left: 20px;
  }

  a:hover {
    color: $yellon;
  }
}

@media (max-width: 900px) {
  main {
    .portfolio {
      img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    color: $red;
    width: auto;
    font-size: 25px;
    background: none;
  }

  .progress-wrap {
    padding: 200px 50px;
  }

  header {
    padding: 50px 0;
  }

  footer {
    text-align: center;

    a {
      float: none;
      margin: 10px;
    }

    .copyright {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 500px) {
  main {
    .portfolio {
      img {
        width: 100%;
      }
    }
  }
}
